body {
	background: rgb(204,236,255);
}
.logo{
	padding: 121px;
	border: 2px black solid;
	background-image: url(../images/22.png);
	background-size: cover;
	background-position: center;
}

ul{
	padding: 0px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
} 
.menu li:hover{
	background: skyblue;
	color: white;
}

.menu li{
	list-style:none;
	background:rgb(255,204,204);
	padding:10px;
    font-family:franklin;
	border-style: double;
	border-radius:10px;
}

.menu a{
	text-decoration:none;
	color:black;
	position: above;
}

.header {
	margin-bottom: 10px;
}

.showcase2 {
	background-image: url(../images/2.png);
	padding: 220px;
	background-repeat: repeat;
    background-size: cover;
	background-position: center;
	border: 2px black solid;
}

.showcase2:hover {
	background-image: url(../images/16.jpg);
}

.division2{
	background-image: url(../images/14.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	margin-top: 10px;
	border: 2px black solid;
	padding: 70px;
}

.footer{
	border: 2px black solid;
	padding: 160px;
	margin-top: 10px;
	background-image: url(../images/23.jpg);
	background-size: cover;
	background-position: center;
}

.division1{
	background-image: url(../images/13.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	border: 2px black solid;
	padding: 70px;
	margin-top: 10px;
	
}

.text1{
	background-image: url(../images/11.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	border: 2px black solid;
	padding: 350px;
	margin-top: 10px;	
}

.text2{
	background-image: url(../images/12.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	border: 2px black solid;
	padding: 350px;
	margin-top: 10px;	
}

	

	
