body {
	background: rgb(204,236,255);
}
.logo{
	padding: 121px;
	border: 2px black solid;
	background-image: url(../images/22.png);
	background-size: cover;
	background-position: center;
}

ul{
	padding: 0px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
} 
.menu li:hover{
	background: skyblue;
	color: white;
}

.menu li{
	list-style:none;
	background:rgb(255,204,204);
	padding: 10px;
    font-family:franklin;
	border-style: double;
	border-radius:10px;
}

.menu a{
	text-decoration:none;
	color:black;
	position: above;
}

.header {
	margin-bottom: 10px;
}


.showcase {
	background-image: url(../images/8.jpg);
	height:80vh;
	margin-bottom: 10px;
	border-radius: 7px;
	background-repeat: repeat;
    background-size: cover;
	background-position: bottom;
	border: 2px black solid;
}

.showcase:hover{
	background-image: url(../images/7.jpg);
}

.pic1{
	background-image: url(../images/21.jpg);
	border: 2px black solid;
	padding: 400px;	
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}
.footer{
	border: 2px black solid;
	padding: 50px;
	background: rgb(255,204,204) ;
	text-align: center;
	margin-top: 10px;
}




	